@use '../../styles/partials/mixins' as*;

.edit-profile {
    margin: 1rem;
    width: 100%;
    @include tablet {
        width: 29.125rem;
        // height:34rem;
        border: 1px solid #BDBDBD;
        border-radius: 1.25rem;
        padding: 1rem;
    }
    &__subtext {
        font-size: .75rem;
    }
    &__headshot {
        width: 4.5rem;
        height: 4.5rem;
        object-fit: contain;
        object-position: center;
        border-radius: .75rem;
    }
    &__headshot-wrapper {
        display: flex;
        align-items: center;
        width: 55%;
        margin-bottom: 1rem;
    }
    &__camera-icon {
        position: absolute;
        top: 28px;
        right: 30px;
    }
}
.form {
    display: flex;
    flex-direction: column;
    &__input {
        padding: .25rem;
        margin: .5rem 0;
        border-radius: .25rem;
        border: 1px solid #828282;
        resize: none;
        font-family: sans-serif;
        font-size: .75rem;
        
        
        &--textarea {
            resize: none;
        }
    }
    &__label {
        text-align: left;
        font-size: .75rem ;

    }
}
.button--save {
    width: 25%;
}
.button--change-photo {
    border: none;
    background-color: white;
    cursor: pointer;
    position: relative;
}