
@use './styles/partials/variables' as *;
@use './styles/partials/global' as *;

h1,h2,p {
  letter-spacing: -.425px;
}

.App {
  // text-align: center;
  height: 100vh;
  // width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark-mode {
  background-color: #333333;
  color: #E0E0E0;
}
.dark-mode__toggle {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
